#california{
    background-image: url('../images/california.webp');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 600px;
    position: relative;
}

#california h1 {
    position: absolute;
    left: 1em;
    bottom: 0.05em;
    color: rgb(15, 14, 14);
    font-size: 3.5em;
    text-transform: uppercase;
}