#northdakota {
    background-image: url('../images/north-dakota.webp');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 600px;
    position: relative;
}

#northdakota h1 {
    position: absolute;
    left: 1em;
    bottom: 0.05em;
    color: rgb(242, 239, 239);
    font-size: 3.5em;
    text-transform: uppercase;
}