body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    
}

svg {
    padding-top: 4em;
    margin-right: 5%;
    max-width: 1000px;
    max-height:580px;
}
path {
    stroke: white;
    fill: rgb(0, 78, 233) !important;
    transition: fill .4s ease;
}

path:hover {
    fill: orange !important;
}

#intro {
    background-image: url('../images/sanfrancisco.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}


#intro-title {
    background-color: black;
    opacity: 0.75;
    color: #cdcaca;
    height: 100%;
    z-index: 4;
    text-align: center;
}

#intro-title h1 {
    font-size: 2.5rem;
    margin: auto;
    position: relative;
    top: 40%;
    z-index: 2;
}

#instructions {
    font-size: 1.6rem;
    position: relative;
    max-width: 15rem;
    margin: 0 auto;
}

.state-info-container {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
}

.state-info-container > p:first-of-type {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 58rem;
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: 0.75px;
}
/* 1000px 589px */

#map-container {
    padding-top: 6em;
    height: 40rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}


#details-box {
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}

section > p {
    font-size: 1.4rem;
    font-weight: 800;
}

.interesting-facts {
    font-weight: 400;
}
footer {
    height: 80px;
    width: 100vw;
    text-align: center;
    padding-top: 0.5em;
    background-color: black;
    font-size: 1.2rem;
    color: #cdcaca;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85vw;
    max-width: 1000px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(125, 125, 125);
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #0794c8;
    color: #ffffff;
}

img {
    width: 225px;
    height: 200px;
    max-width: 380px;
    max-height:350px;
    border-radius: 50%;
}

blockquote {
    font-size: 1.4rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: 2.1rem;
    font-weight: 500;
}

ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
    max-width: 70rem;
}

li {
    line-height: 1.5;
}

li:not(:first-of-type) {
    margin-top: 1.5rem;
}